*, *::before, *::after {
  box-sizing: border-box;  
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

img {
    display: block;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #e5e9f2;
}

.header-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.logo {
    margin-right: 40px;
}

.nav {
    margin-top: -4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    color: #18191f;

}

.nav-link {
    margin-right: 32px;
    color: #18191f;
    text-decoration: none;

} 

.nav-link:hover {
    color: #8C30F5;
}

.nav-link:last-child {
    margin-right: 0;
}

.appstore {
    margin-left: auto;
    display: flex;
}

.appstore-item {
    margin-left: 12px;
}

.appstore-item:first-child {
    margin-left: 0;
}
/* Main */
.main {

}

.main-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding-top: 197px;
    padding-bottom: 197px;
}

.main-content {

}

.main-img {

}

.main-header {
margin-top: 0;
margin-bottom: 16px;
font-size: 72px;
font-weight: 800;
line-height: 1.36;
color:  #18191F; 

}

.main-text {
    margin-bottom: 32px;
}

.main-text p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.78;

}

.button {
display: inline-block;
padding-left: 35px;
padding-right: 35px;
height: 62px;
border-radius: 8px;
background: #8C30F5;


font-size: 20px;
font-weight: 700;
line-height: 62px; 
color: #FFF;
text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}


