*, *::before, *::after {
  box-sizing: border-box;  
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

img {
    display: block;
}

.header {
    display: flex;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #e5e9f2;
}

.header-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.logo {
    margin-right: 40px;
}

.nav {
    margin-top: -4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    color: #18191f;

}

.nav-link {
    margin-right: 32px;
    color: #18191f;
    text-decoration: none;

}

.nav-link:last-child {
    margin-right: 0;
}

.appstore {
    margin-left: auto;
    display: flex;
}

.appstore-item {
    margin-left: 12px;
}

.appstore-item:first-child {
    margin-left: 0;
}

